.CenterCard {
    > div.card-header {
        text-align: center
    }

    > div.card-footer {
        text-align: right
    }

    width: 50em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
}
