.CenterCard {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}
.CenterCard > div.card-header {
  text-align: center;
}
.CenterCard > div.card-footer {
  text-align: right;
}
.error {
  background-color: #f5c6cb;
}
#newMessage {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 10%;
  padding: 10px;
}
.message {
  display: inline-block;
  width: 100%;
  padding: 10px 10px 0 10px;
}
.message > div {
  width: auto;
  max-width: 75%;
}
.message > div .sender {
  font-size: 75%;
}
.message > div .date {
  font-size: 50%;
}
.sendMessage > div {
  text-align: right;
  float: right;
}
.receivedMessage > div {
  text-align: left;
  float: left;
}
.content {
  height: 100%;
  width: 100%;
  position: fixed;
}
.messages {
  height: 75%;
  overflow-x: auto;
}
#noMessages {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 50%;
}
.controls {
  padding: 10px;
}
.controls > div {
  display: inline-block;
}
.controls .GroupControls {
  float: right;
}
#newConversation {
  top: 0px;
  position: fixed;
  right: 0;
  margin: 5px 25px;
  width: 25%;
}
#notification {
  position: fixed;
  top: 10px;
  left: 25%;
  width: 40%;
}